# 2021.09.17 위에서 아래로

In [26]:
list1 = []

while 1 :
    n = int(input())
    if n < 1 or n >500 :
        print('1~500값으로 입력해주세요')
    else :
        break

for i in range(n):
    list1.append(int(input()))
    if list1[i] < 1 or list1[i] > 100000:
        print('1~100,000값으로 입력해주세요')

list1.sort(reverse = True)

for l in range(len(list1)):
    print(list1[l], end = ' ')

 3
 15
 27
 12

27 15 12

# 2021.09.17 성적이 낮은 순서로 학생 출력하기

In [42]:
list1 = []

snum = int(input())

for i in range(snum):
    a = input().split(' ')
    list1.append([a[0],int(a[1])])

list1 = sorted(list1, key = lambda x : (x[1]))

for l in range(snum):
    print(list1[l][0],end = ' ')

 5
 ㄱ 88
 ㄴ 56
 ㄷ 77
 ㄹ 99
 ㅎ 15

ㅎ ㄴ ㄷ ㄱ ㄹ

# 2021.09.17 두 배열의 원소 교체

In [57]:
list1 = []
list2 = []
sum = 0

n,m = map(int, input().split())

list1 = list(map(int, input().split()))
list2 = list(map(int, input().split()))

list1 = sorted(list1)
list2 = sorted(list2,reverse=True)

for i in range(m):
    temp = list1[i]
    list1[i] = list2[i]
    list2[i] = temp
    
for l in range(n):
    sum += list1[l]
    

print(sum)

 5 3
 1 2 5 4 3
 5 5 6 6 5

26